---
import LandingPage from '../components/LandingPage/LandingPage.jsx'
import Layout from '../layouts/Layout.astro';


---
<main class="landing-page">
  <Layout title="Welcome to Runway.">
    <LandingPage />
  </Layout>
</main>
